.slide {
  box-sizing: content-box;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  

  .swiper-slide {
    img {
      width: 100vw;
    }
  }

  .swiper-button-next {
    color: $color-white;
    &::after {
        font-size: 30px;
    }
  }
  .swiper-button-prev {
    color: $color-white;
    &::after {
        font-size: 30px;
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $color-gold;
    }
  }
}

.imagem-estatica {
  img {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
  }
}


@media (max-width: 990px) {
  .swiper-slide {
    img {
      height: 48vh;
    }
  }
}