.hero-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .slide {
    box-sizing: content-box;
    border-radius: 0 0 60px 60px;
    position: relative;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;
        object-fit: cover;
      
        @media (max-width: 600px){
          height: 50vh;
        }
      
      }

      .slide-conteudo {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          text-decoration: none;
        }

        .slide-text {
          font-weight: 700;
          color: $color-white !important;
        }
      }
    }

    .swiper-button-next {
      color: $color-white;
      &::after {
        font-size: 30px;
      }
    }
    .swiper-button-prev {
      color: $color-white;
      &::after {
        font-size: 30px;
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $color-gold;
      }
    }
  }
}

.imagem-estatica {
  img {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
  }

  .imagem-error {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #818181;;
    background-color: #cccccc;;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 990px) {
  .swiper-slide {
    img {
      height: 48vh;
    }
  }
}


