
.nome-drluis{
  h3 {
    font-weight: 700;
  }
}

.formacao-titulos-cargos {
  h3 {
    color: $color-white;
    font-weight: 700;
  }
}

.titulo-subtitulo {
  h3 {
    font-weight: 700;
  }
}

.agendamento {
  h3 {
    color: $color-white;
    font-weight: 700;
  }
}