.pagina-home {
    font-family: 'Inter', sans-serif;

    .hero-slide {
        .slide-conteudo {
            .slide-text {
                font-size: 35px;
                text-shadow: 0px 4px 4px #00000040;
                color: $color-text;
            }
        }
    }
}