.topbar {
  
  
    
  
    .logo {
      .logo-escrita {
        .logo-tipografia {
            font-family: 'Questrial', sans-serif;
            font-size: 30px;
            text-shadow: 0px 4px 4px #00000040;
        }
    
        .logo-tipografia-sub {
          font-family: 'Inter', sans-serif;
          font-size: 13px;
        }
      }
    }
}