.container-agendamento {
  .row-agendamento {
    .atendimento {
      .afirmacoes {
        span {
          white-space: nowrap;
          display: flex;

          align-items: center;

          svg {
            color: $color-gold;
          }
        }
      }
    }

    .agendamento {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .informacoes {
        display: flex;
        gap: 1rem;
        .informacao {
          background-color: $color-gold;
          white-space: nowrap;
          display: flex;
          align-items: center;
          padding: 10px;
          box-sizing: content-box;
        }
      }
    }
  }
}
