.container-procedimentos {
  padding-top: 5.5rem;
  margin: 0 auto;
  // margin-bottom: 5.5rem;
  // margin: 5.5rem;

  .coluna-procedimentos {
    margin: 15px;
    .procedimento {
      margin-bottom: 70px;

      .coluna-img {
        max-width: 600px;
        max-height: 600px;

        padding: 0;

        display: flex;
        margin: 0 auto;

        img {
          width: 470px;
          height: 450px;

          max-width: 470px;
          max-height: 450px;
        }
      }

      .conteudo-coluna {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        button {
          max-width: 20rem;
        }

        .conteudo-titulo {
          display: flex;
          flex-wrap: nowrap;

          h3 {
            padding-left: 0.2rem;
          }

          svg {
            width: 50px;
            height: 32px;

            color: $color-gold;
          }
        }

        .conteudo-texto {
          p {
            text-align: justify;
          }

          .conteudo-sub-titulo {
            display: flex;
            flex-wrap: nowrap;

            h4 {
              font-weight: 500;
            }

            svg {
              width: 42px;
              height: 32px;

              color: $color-gold;
            }
          }
        }
      }
    }
  }
}
