footer {
  background-image: url("/src/shared/assets/background-footer.jpg");
  box-shadow: crimson;
  background-size: cover;
  filter: saturate(150%);

  .coloracao {
    background-color: #e2dcce;
    width: 100%;
    height: 100%;
    position: absolute;

    opacity: 40%;
    z-index: -1;
  }

  .footer-container {
    //É interessante colocar uma altura padrão? Talvez sim até certa lagura
    height: 260px;
    width: 100%;
    display: grid;
    align-items: center;

    .footer-links {
      display: flex;
      justify-content: space-around;

      p {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        padding-bottom: 16px;
      }

      .cont {
        display: flex;
        align-items: center;
        flex-direction: column;
        word-wrap: break-word;
        flex-shrink: 1;
        padding: 10px;
        margin: 20px;
        text-align: center;
      }

      .cont.localizacao {
        div {
          span {
            display: flex !important;
            flex-direction: column !important;
          }
          span:hover {
            a {
              color: $color-gray-footer;
            }

            cursor: pointer;
          }
        }
      }

      .links {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.footer-info {
  height: 122px;
  width: 100%;
  border-top: 1px solid $color-gray-footer;

  .container-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 35px;
  }
}
