.topbar {
  display: flex;

  top: 40px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #f7d3a8 25%, #f7d3a880 75%, #f7d3a800 100%);
  position: relative;
  height: 3.5rem;

  align-content: center;
  justify-content: space-between;


  

  .logo {
    display: flex;
    align-items: center;
    // z-index: 999;
    
    margin-left: 80px;

    gap: 1.5rem;

    img {
      width: 70px;
      height: 103px;

      border-radius: 13px;
    }

    .logo-escrita {
      .logo-tipografia {
        color: $color-white;
      }
  
      .logo-tipografia-sub {
        color: $color-white;
      }
    }
  }

  .topbar-navegacao {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: flex-end;
    align-items: center;

    .contorno-navlink {
      height: 100%;

      a {
        height: 100%;
        display: flex;
        align-items: center;

        text-decoration: none;
        color: white;
        font-size: 13px;

        border-left: 15px solid transparent;
        border-right: 15px solid transparent;

        &.active {
          background-color: $color-gold;
          height: 100%;
          display: flex;
          align-items: center;

          border-radius: 10px;
        }
      }
    }

  }
}

.header-topbar-web {
  z-index: 1;
  position: relative;
}
