@media (max-width: $screen-xl) {
  .container-drluis {

    .feedbacks {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 180px;

      .titulo-subtitulo {
        span {
          width: 400%;
        }
      }

      .swiper-button-next {
        display: none;
      }
    }
  }
}
