.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    transition: 0.2s;
    height: 225px;

    position: absolute;
    top: 75%;
    right: 0px;
    border-radius: 15px 0px 0 15px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.226);

    a {
        font-weight: 600;
        line-height: 40px;
        color: #242323;
        text-decoration: none;
        
    }
    a:hover {
        color: #2c2b2ba1;
    }
}

.mobile-nav.open {
    padding: 15px;
    width: 300px;
}

.mobile-nav.close {
    width: 0;
}