.topbar-navegacao {
  .nav_mb {
    display: none;
    
    
    @media (max-width: 990px) {
      display: block;
      
    }
  }

  .contorno-navlink {
    display: block;

    @media (max-width: 990px) {
      display: none; // Oculte os links de navegação quando a tela for menor ou igual a 990px
    }
  }
}